#pendo-g-b8oSYtiGFlbl9OD8ThbevOKuR6Q ~ ._pendo-guide-backdrop_ ._pendo-backdrop {
  z-index: 9999 !important;
}
#pendo-g-b8oSYtiGFlbl9OD8ThbevOKuR6Q._pendo-step-container-size {
  width: 100% !important;
  margin-left: 0 !important;
  left: 0 !important;
  display: flex !important;
  justify-content: center;
}
#pendo-g-b8oSYtiGFlbl9OD8ThbevOKuR6Q ._pendo-step-container-styles {
  width: 900px;
}
